<h1>Noutăți</h1>
<div class="card">
    <div class="card-head"><h3> Intrerupere curent electric - Sector 5</h3></div>
    <div class="card-body">
        <p> &nbsp; &nbsp; &nbsp; 
            Vă informăm că se va opri curentul electric: luni, 17 martie, intre orele 12:00 - 18:00. Zonele afectate sunt străzile:
                <br> Valea Largă, Valea Furcii, Valea Cricovului, Prelungirea Ghencea.
        </p>
    </div>
</div>
<div class="card">
    <div class="card-head"><h3> Oprire apă caldă - Sector 3</h3></div>
    <div class="card-body">
        <p> &nbsp; &nbsp; &nbsp;
            Vă anunțăm că se vor executa lucrări de mentenanță asupra instalației de termoficare. Se va sista alimentarea cu apă caldă 
                in perioada luni, ora 10:00, data de 20.03.2024, până estimativ, joi, ora: 19:00, data de 22.03.2024. Zona afectată: 
                Str. Liviu Rebreanu 8 - Str. Liviu Rebreanu 30C.
        </p>
    </div>
</div>