<div class="register-container">
  <form [formGroup]="form" (submit)="submit()" class="register-form">
    <h1 class="h3 mb-3 fw-normal text-center">Please register</h1>

    <div class="form-floating mb-3">
      <input formControlName="name" id="nameInput" class="form-control" placeholder="Name" [ngClass]="{'is-invalid': name?.invalid && name?.touched}" required>
      <label for="nameInput">Name</label>
      <div *ngIf="name?.invalid && name?.touched" class="invalid-feedback">
        Name is required.
      </div>
    </div>

    <div class="form-floating mb-3">
      <input formControlName="email" id="emailInput" type="email" class="form-control" placeholder="Email" [ngClass]="{'is-invalid': email?.invalid && email?.touched}" required>
      <label for="emailInput">Email address</label>
      <div *ngIf="email?.invalid && email?.touched" class="invalid-feedback">
        <span *ngIf="email?.errors?.['required']">Email is required.</span>
        <span *ngIf="email?.errors?.['email']">Please enter a valid email address.</span>
        <span *ngIf="email?.errors?.['domainInvalid']">Email must be from yahoo.com or gmail.com.</span>
      </div>
    </div>

    <div class="form-floating mb-3">
      <input formControlName="password" id="passwordInput" type="password" class="form-control" placeholder="Password" [ngClass]="{'is-invalid': password?.invalid && password?.touched}" required>
      <label for="passwordInput">Password</label>
      <div *ngIf="password?.invalid && password?.touched" class="invalid-feedback">
        <span *ngIf="password?.errors?.['required']">Password is required.</span>
        <span *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters long.</span>
      </div>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
    
    <!-- Display success message after registration -->
    <div *ngIf="successMessage" class="alert alert-success mt-3 text-center">
      {{ successMessage }}
    </div>
  </form>
</div>
