<div class="row shadow">
    <div class="col-sm-4 p-0">
      <div class="card">
        <div class="card-img-wrapper">
            <img *ngIf="problem.ImageURL" class="card-img-top" [src]="'https://localhost:7242' + problem.ImageURL" alt="Problem Image">        
        </div>

        <div class="card-body">
          <h1 class="card-title">{{problem.Title}}</h1>
          <div>
             <strong>in {{problem.Location}}</strong>
          </div> 
        </div>
  
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary">Review</button>
          </div>
        </div>
    </div>
    </div>
  
    <div class="col-sm-8 p-0">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Overview">
            <h1>Overview</h1>
            <div class="row">
                <div class="col-sm-6">
                    <div class="heading">
                        <strong>Priority</strong>
                        <p>{{problem.Priority}}</p>
                    </div>
  
                    <div class="heading">
                        <strong>Date</strong>
                        <p>{{ formattedDate }}</p>
                    </div>
                </div>
  
                <div class="col-sm-6">
                    <div class="heading">
                        <strong>Latitude</strong>
                        <p>{{problem.Latitude}}</p>
                    </div>
                    <div class="heading">
                        <strong>Longitude</strong>
                        <p>{{problem.Longitude}}</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="heading">
                        <strong>Description</strong>
                        <p>{{problem.Description}}</p>
                    </div>
                </div>
              </div>
          </tab>
  
          
          <tab heading="Reviews">
            <div class="col-sm-12">
              <h1>Check reviews</h1>
              <div class="heading">
                <p> Speram sa se rezolve cat mai repede!</p>

                <p> In fiecare dimineata cand ma duc la serviciu trec pe aici!</p>
                  <!-- <strong>{{property.Address}}</strong><br/>
                  <strong>{{property.Address2}}</strong><br/>
                  <strong>{{property.City}}</strong> -->
              </div>
          </div>
  
          </tab>
        </tabset>
      </div>
    </div>
  </div>